.canvas {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

.full_fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cat {
  position: absolute;
  bottom: 0px;
  right: 32px;
  cursor: pointer;
}

@media (max-width: 1234px) {
  .cat {
    display: none;
  }
}
