.list_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 4px 8px;
  background: var(--background);
}

.list_item:nth-child(odd) {
  background: var(--lightgrey);
}

.links {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.links > * {
  margin-left: 8px;
}

.project_info {
  flex: 1;
}

.project_name {
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--header-color);
}

.project_description {
  min-height: 1em;
}

.license_text {
  overflow-x: auto;
}
