.container {
  margin-bottom: 12px;
  border: 2px solid var(--lightgrey);
  border-radius: 6px;
  background: var(--background);
}

.name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--header-color);
}

.detailContainer {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px 8px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  margin-top: auto;
  padding-top: 8px;
}
