.container {
  margin-bottom: 12px;
  border: 2px solid var(--border-color);
  border-radius: 6px;
  background: var(--content-background);
}

.name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--header-color);
}

.detailContainer {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff3;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px 8px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
  padding-top: 8px;
  margin-right: -8px;
  margin-bottom: -4px;
}

.link,
.link:hover {
  text-decoration: none;
  padding: 4px;
}

.linkIcon {
  font-size: 30px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
