.container {
  margin-bottom: 12px;
  border: 1px solid var(--lightgrey);
  background: var(--lightgrey);
  border-radius: 4px;
}

.header {
  padding: 4px 6px;
  display: flex;
  flex-direction: row;
}

.name {
  font-weight: bold;
  color: var(--header-color);
}

.detailContainer {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
}

.descriptionContainer {
  background: var(--background);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px 8px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  margin-top: auto;
}
